.heroImage {
    height: 100px;
    width: 100px;
    margin: 5px
}

.horizontalScroll {
    display: flex;
    overflow-x: auto;
    height: 200px;
}

.imageTile {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin: 5px;
    padding: 10px;
}

.buttonContainer {
    align-content: center;
    display: inline-block;
}

h6 {
    text-align: center;
    padding: 5px;
}
  